/* HOME */

.carousel-inner {
  height: 600px;
}

.homeContainer {
  margin-top: 150px;
  height: 1000px;
}

.homeContainer h1 {
  color: var(--color-titulo);
  font-size: 30px;
  line-height: 1.1;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 3px 1px var(--color-fondo-terciario);

}

.cartelTeMostramos {
  position: absolute;
  left: 0;
  top: 200px;
  background: var(--color-fondo-principal);
  color: #333;
  padding: 12px 45px;
  border-radius: 0 24px 24px 0;
  font-size: 22px;
  font-weight: 600;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.08);
  z-index: 10;
  animation: slideInCartel 1s cubic-bezier(.77, 0, .18, 1) 0.2s both;
}

@keyframes slideInCartel {
  from {
    transform: translateX(-120%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.cardsContainer {
  display: flex;
  margin-top: 50px;
  width: 95%;
  justify-self: center;
  justify-items: center;
  letter-spacing: 2px;
  font-size: 30px;
}


.card {
  height: 400px;
  width: 500px;
  margin: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323d21c2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.card:hover .overlay {
  background-color: #323d2196;
  transition: background-color 0.10s ease;

}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.40s ease;
}

.nosotrosContainer {
  margin-top: 100px;
  width: 70%;
  text-align: center;
  justify-self: center;
}

.nosotrosContainer h2 {
  color: var(--color-titulo);
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nosotrosGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  padding: 50px 50px;
  justify-items: center;
}

.cardNosotros {
  background-color: var(--color-fondo-secundario);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-texto);
  width: 100%;
  height: 200px;
  align-content: center;
}

.cardNosotros p {
  width: 80%;
  margin: auto;
}

.pedirContainer {
  position: relative;
  background-image: url('../img/backgroundPedir.jpeg');
  margin-top: 100px;
  width: 100%;
  height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.pedirOverlay {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: #323d21d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.pedirOverlay h3 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pedirOverlay p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  margin-top: 20px;
}

.pedirInfo {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.pedirInfo i {
  font-size: 50px;
}

.bi-chevron-right {
  font-size: 35px !important;
}

/* ICONO WHATSAP */
.whatsappContainer i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 93%;
  left: 30px;
  font-size: 30px;
  background-color: #25d366;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  z-index: 10;
}

/* PAGINA PRODUCTOS */

.productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 200px;
  width: 85%;
  justify-content: center;
  justify-self: center;
}

.productoCard {
  display: flex;
  flex-direction: row;
  background-color: var(--color-fondo-secundario);
  border-radius: 12px;
  overflow: hidden;
  margin: 16px auto;
  max-width: 700px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.productoCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.productoCardLeft {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.productoCardLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productoCardRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

.productoNombre {
  font-size: 20px;
  font-weight: 800;
  color: var(--color-titulo);
  margin-bottom: 12px;
  text-transform: uppercase;
}

.productoDescripcion {
  font-size: 14px;
  color: var(--color-texto);
  margin-bottom: 16px;
  line-height: 1.4;
  font-weight: 600;
}

.productoPrecio {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-titulo);
  margin-bottom: 16px;
}

.productoBtn {
  background-color: var(--color-acento);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.productoBtn:hover {
  background-color: var(--color-titulo);
  transform: scale(1.05);
}

.productoBtn:active {
  transform: scale(0.97);
}

.productoLink {
  text-decoration: none;
  color: inherit;
  flex-grow: 1;
  display: block;
}

/* PAGINA PRODUCTOS DETAILS */

.detailsContainer {
  margin-top: 300px;
}

.productDetailContainer {
  background-color: var(--color-fondo-principal);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
}

.productCard {
  background-color: var(--color-fondo-secundario);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(113, 131, 85, 0.15);
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(113, 131, 85, 0.2);
}

.productImage {
  width: 50%;
  object-fit: cover;
  background-color: var(--color-fondo-terciario);
}

.productInfo {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productTitle {
  color: var(--color-titulo);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.productDescription {
  color: var(--color-texto);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.productPrice {
  color: var(--color-acento);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}


.contadorContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1rem;
  justify-content: center
}

.btnControl {
  background-color: var(--color-fondo-terciario);
  color: var(--color-titulo);
  border: none;
  padding: 5px 60px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;

}

.btnControl:hover {
  background-color: var(--color-acento);
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(113, 131, 85, 0.25);
}

.btnControl:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.contador {
  display: inline-block;
  background-color: var(--color-fondo-terciario);
  color: var(--color-titulo);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 5px 40px;
  border-radius: 8px;
  min-width: 40px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(113, 131, 85, 0.15);
}

.btnAgregar {
  background-color: var(--color-titulo);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

.btnAgregar:hover {
  background-color: var(--color-acento);
  transform: scale(1.05);
}

/* PAGINA CARRITO */

.carritoContainer {
  display: flex;
  gap: 32px;
  padding: 32px;
  background-color: var(--color-fondo-principal);
  min-height: 80vh;
  justify-content: center;
  align-items: flex-start;
  margin-top: 200px;
  font-family: 'Montserrat';
  width: 80%;
  justify-content: center;
  justify-self: center;
}

.carritoLeft {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.carritoRight {
  flex: 1;
  background-color: var(--color-fondo-terciario);

  border-radius: 16px;
  padding: 24px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.resumenTitle {
  font-size: 24px;
  color: #2e3a1f;
  font-weight: 800;
}

.resumenCantidad,
.resumenPrecio {
  font-size: 18px;
  color: #4b5530;
  font-weight: 600;
}

.finalizarCompraBtn {
  padding: 12px 24px;
  background-color: var(--color-acento);
  color: var(--color-fondo-principal);
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.finalizarCompraBtn:hover {
  background-color: var(--color-titulo);
  transform: translateY(-2px);
}


.carritoItem {
  display: flex;
  align-items: center;
  background-color: var(--color-fondo-secundario);
  border-radius: 16px;
  padding: 16px;
  width: 100%;
}

.carritoItemImage {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
  margin-right: 24px;

}

.carritoItemDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--color-fondo-secundario);
}

.carritoItemName {
  font-size: 20px;
  color: var(--color-titulo);
  font-weight: 800;
  text-transform: uppercase;
}

.carritoItemQuantity,
.carritoItemPrice,
.carritoItemSubtotal {
  font-size: 16px;
  color: #030302;
  font-weight: 500;
}

/* MODAL */

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: #070707b0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalContainer {
  background-color: var(--color-fondo-principal);
  border-radius: 1.5rem;
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  animation: scaleIn 0.3s ease;
}

.modalCloseBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: var(--color-acento);
  cursor: pointer;
  transition: color 0.2s ease;
}

.modalCloseBtn:hover {
  color: #2e3a1f;

}

.modalTitle {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-titulo);
  margin-bottom: 20px;
}

.modalText {
  color: var(--color-texto);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  
}

.modalButton {
  background-color: var(--color-fondo-secundario);
  color: var(--color-titulo);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.modalButton:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}